body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

.form-control {
    font-size: 12px !important;
    padding: 3px 4px !important;
}


/* Device Role Access */


/* Form */

.multiple {
    height: 250px !important;
}

.checkbox {
    display: inline-block;
    margin: 0 10px !important;
}

.editRole,
.deleteRole,
.editAccess,
.deleteAccess {
    cursor: pointer;
}

.viewMore,
.roleInfo,
.bioInfo {
    cursor: pointer;
    text-decoration: underline;
}

.addFeature,
.addRoles {
    position: relative;
    top: 50%;
}

.features {
    margin: 27px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

.features img {
    width: 40px;
    height: 40px;
}

.smg-edit {
    background: url(../images/edit.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.smg-delete {
    background: url(../images/delete.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.smg-viewmore {
    background: url(../images/viewmore.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.smg-leads {
    background: url(../images/leads.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.smg-pdf {
    background: url(../images/pdf.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.float-right {
    float: right;
}

.fas-bioInfo {
    background: url(../images/bio.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
}

.fas-roleInfo {
    background: url(../images/role.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
}

.fas-title {
    font-size: 18px;
    /*  float: left;*/
    vertical-align: top;
    margin: 0;
}

#ui-datepicker-div {
    z-index: 9999 !important;
}

#fullModel .modal-body,
#enrollmentInfo .modal-body,
#agentInfo .modal-body,
.fullModel .modal-body {
    display: inline-block;
    width: 100%;
}

#fullModel .modal-dialog,
#enrollmentInfo .modal-dialog,
#agentInfo .modal-dialog,
.fullModel .modal-dialog {
    width: 90%;
}

#fullModel .modal-dialog h4,
#enrollmentInfo .modal-dialog h4,
#agentInfo .modal-dialog h4,
.leadSingle h4,
.enrollmentSingle h4,
.fullModel h4 {
    /*background: #F34790;
    color: #fff;*/
    padding: 8px;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    border-bottom: solid 2px #F34790;
}

#fullModel .leadFormData,
#enrollmentInfo .leadFormData,
#registerAgentsForm .leadFormData,
.fullModel .leadFormData {
    padding: 5px 0;
    background: #fff;
}

.leadsSection,
.enrollmentSection,
.agentsSection {
    display: none;
    background: #fff;
    padding: 10px;
    border: solid 1px #ddd;
}

.sectionBgWhite {
    background: #fff;
    padding: 10px;
    border: solid 1px #ddd;
    box-shadow: 0px 2px 10px #868282;
}

#enrollmentPhoto img,
#agentPhoto img {
    width: 120px;
}

#enrollmentFinger img,
#agentFinger img {
    width: 40px;
    margin: 0 10px;
}

.listFP {
    border-top: solid 1px #333;
    padding: 3px 0;
}

.listFP li {
    float: left;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin: 5px;
    text-align: center;
    padding: 9px 3px 9px 1px;
    color: #fff;
}

.failureFPP {
    background: #B21857;
    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 100%;
}

.successFPP {
    background: #3AD040;
    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 100%;
}

.listFP .successFP {
    background: #3AD040;
}

.listFP .failureFP {
    background: #B21857;
}

.divFP {
    display: inline-block;
    width: 100%;
    padding: 2px 0;
}

#searchAgents {
    position: relative;
    top: 23px;
}


/* Dashboard Theme */

.dashboard-theme {
    text-align: center;
    text-transform: uppercase;
}

.dashboard-theme .bigValue {
    font-size: 40px;
    font-weight: bolder;
}

.dashboard-theme .bixText {
    font-size: 22px;
    color: #333;
    line-height: 62px;
    text-transform: initial;
    padding-left: 15px;
}

.dashboard-theme .infoSection {
    width: 49%;
    display: inline-block;
    margin: 10px 0;
    line-height: 40px;
}

.time_dropdown {
    width: auto;
    background: #fff;
    color: #333;
}

.dashboard-theme .smallText {
    font-size: 20px;
    line-height: 30px;
}

.dashboard-theme .smallValue {
    font-size: 20px;
    line-height: 30px;
}


/* login Page */

#loginPage {
    background: none;
    background-size: 100% 100%;
    height: 90%;
    min-height: 90%;
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
}

.loginPage {
    min-height: 100%;
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    background: #aca8a8;
}

#loginPage #login-box {
    width: 500px;
    margin: 80px auto 0 auto !important;
    background: rgba(255, 255, 255, 1);
    position: relative;
    padding: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

#loginPage #login-box .header {
    box-shadow: none;
    text-align: center;
    padding: 15px 0;
}

#loginPage #login-box input {
    border-radius: 5px !important;
}

#loginPage #login-box .header img {
    width: 350px !important;
}

#loginPage #login-box .forget {
    background: #f64366;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 11px;
    border-radius: 0 5px 5px 0;
    font-size: 25px;
}

.buttonDown {
    padding: 25px 0 0 0 !important;
}

.height10 {
    height: 10px;
    width: 100%;
    display: inline-block;
}

.loaderv2 {
    background-color: #396A77;
    padding: 15px;
    position: absolute;
    top: 200px;
    left: 50%;
    border: 3px solid white;
    z-index: 999999;
    display: none;
}

.loaderv2-message {
    display: inline-block;
    color: white;
    margin-left: 10px;
}

.loaderv2-gif {
    vertical-align: middle;
    background: url(../loader.gif);
    height: 30px;
    width: 30px;
    background-size: 100%;
    display: inline-block;
}

.faderv2 {
    position: fixed;
    width: 100%;
    height: 150%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999999;
    display: none;
    top: 0;
}

.table {
    font-size: 13px;
    width: 100%;
    overflow-x: scroll;
}

.tablenoWrap {
    display: inline-block;
    white-space: nowrap;
}

#schedulerConfigTable {
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.padding0 {
    padding: 0 !important;
}

.idPhoto {
    text-align: center;
    display: block;
}

.idPhoto img {
    width: 100px;
}

.leadFormData div {
    word-wrap: break-word;
}

#menuPage {
    position: absolute;
    top: 0px;
    background-color: #333;
    min-height: 100%;
    height: auto;
    padding: 10px;
    display: none;
    z-index: 9999999;
}

.pageMenu li {
    padding: 3px 0;
    margin: 5px 0;
}

.pageMenu .title {
    font-size: 20px;
    color: #eb2771;
}

.pageMenu .subTitle {
    font-size: 18px;
    color: #eb2771;
}

.pageMenu li a {
    color: #fff;
}


/*Leads*/

.upArrow {
    background: #fff url(../images/up-arrow-icon.png) no-repeat;
    height: 36px;
    width: 36px;
    position: relative;
    top: -15px;
    z-index: 99999;
    background-size: 100% 100%;
    left: 45%;
    cursor: pointer;
    display: none;
}

.sectionHide {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.tabsPopup {
    display: inline-block;
    text-align: left;
    width: 100%
}

.modal-footer {
    background: #fff;
}

.content -header {
    padding: 5px 10px !important;
}

.editableOff {
    margin: 0px 0 0 0;
    min-height: 35px;
    padding: 4px 10px;
    background: #fff !Important;
    border: none !Important;
}

#tab_9 .editableOff,
.editableOnCust {
    border-bottom: solid 1px #ddd !important;
}

.labelText {
    /*font-weight: bold;*/
    font-size: 13px;
}

.actionButton {
    width: auto;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

.actionButton img {
    width: 24px;
}

.editableOn,
.editableOff,
.editableOnCust {
    background: #f7f7f7;
    border: solid 1px #ddd;
    word-wrap: normal;
}

.height20 {
    height: 20px;
    display: inline-block;
    ;
    width: 100%;
}

.nav-tabs-custom {
    background: #fff;
    border: solid 1px #ddd;
}

.leadFormData {
    padding: 5px 5px !important;
}

.tabsPopup .leadFormData {
    background: #fff;
}

.border {
    border: solid 1px #ddd !important;
    background: #FFFFFF;
}

.border-bottom {
    border-bottom: solid 1px #eb2771;
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0 0 15px 0;
}

.formSection {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 2px 10px #868282;
}

.content-header>h1 {
    font-size: 18px !important;
}

.fas-yellow {
    background: #EE9B11;
}

.mcTitle {
    font-size: 16px;
    border-bottom: solid 1px #eb2771;
    padding: 0 0 14px 0;
}

.text-left {
    text-align: left;
}

table tr th {
    vertical-align: top !important;
}

.imgCheck {
    width: 48%;
    display: inline-block;
}

.imgCheck img {
    width: 200px;
    margin: 10px 0;
}

.shuffleFixed {
    position: fixed;
    top: 30%;
    right: 0%;
    background: #ddd;
    padding: 10px;
    z-index: 9;
    border-radius: 10px 0 0 10px;
}

.leadIdPhotoPageTitle {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}

#enrollmentPhotoList ul {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px auto;
}

#enrollmentPhotoList ul li div {
    border-bottom: solid 1px #eb2771;
    margin: 10px;
}

#enrollmentPhotoList ul li {
    float: left;
    margin: 10px;
    background: none;
    box-shadow: none;
    font-size: 14px;
    border: none !important;
}

#enrollmentPhotoList ul li a {
    background: none !important;
}

.dashboardTitle {
    font-size: 45px;
    text-align: center;
}

.dashboardLogo {
    text-align: center;
}

.dashboardLogo img {
    width: 400px;
}

select {
    width: 100%;
    background: none;
    background: transparent;
    border: solid 1px #ddd;
    outline: none;
}

.errorValidation {
    border: solid 1px #D80909 !important;
}

.feedback {
    color: #D80909;
    border: solid 1px #D80909;
    padding: 5px;
    line-height: 22px;
    display: none;
}

.dataTables_filter,
.dataTables_filter label {
    text-align: right !important;
}

.editProduct:hover,
.deleteProduct:hover {
    cursor: pointer;
}

.loanCycleImg {
    width: 20px;
    margin: 0 5px 0 0;
    height: 10px;
}

.goBatches {
    float: right;
    background: #595959;
}

.enrIdPhotos {
    border: none !important;
    margin: 0 !important;
}

.nonEditable select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.searchIcon img {
    width: 24px;
    height: 24px;
}

.textUnderline {
    text-decoration: underline;
    cursor: pointer;
}

.alertPopup {
    position: fixed;
    top: 20%;
    display: none;
    width: 50%;
    margin: 0 27%;
    z-index: 9999;
    background: #f2f2f2;
}

.alertTitle {
    padding: 20px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
}

.alertMsg {
    padding: 10px;
    text-align: center;
    min-height: 50px;
    overflow: hidden;
    border-bottom: solid 1px #333;
    font-size: 16px;
}

.alertFooter {
    text-align: center;
}

.alertFooter a {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    display: inline-block;
    color: #333;
    font-weight: bold;
}

.faderAlert {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    top: 0;
    display: none;
}

.error {
    color: red;
}

#tabsPgm .nav-tabs>li {
    position: relative;
}

#tabsPgm .nav-tabs>li>a {
    display: inline-block;
    padding: 3px 18px 3px 7px !important;
}

#tabsPgm .nav-tabs>li>span {
    right: 18px;
    top: 2px;
}

#tabsPgm .nav-tabs>li:hover>span {
    display: inline-block;
}

#preview ul li {
    padding: 5px;
}

#preview ul li:nth-child(odd) {
    background: #e0e0e0;
}

#preview ul li:nth-child(even) {
    background: #fff;
}

.formDesignSection h4 {
    border-bottom: solid 2px #9a9a9a;
    padding: 10px;
}

.formDesignSection h5 {
    border-bottom: solid 2px #157389;
    padding: 10px;
    font-size: 18px;
}

.help-inline {
    color: #e25400;
}

.error {
    color: #e25400 !important;
}

#batchName_title {
    display: inline-block;
    padding: 5px 0;
}

.refreshData img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.editFixed {
    position: fixed;
    right: 10px;
    z-index: 9999;
}

.statusDropdown {
    display: inline-block;
    float: right;
}


/*Media Queries*/

@media ( max-width:468px) {
    #loginPage #login-box {
        width: 90% !Important;
        margin: 100px auto 0 auto !important;
    }
    #loginPage {
        background-size: 430%;
        background-position: -520px 0;
    }
}

@media ( max-width:768px) {
    #loginPage #login-box {
        width: 90% !Important;
        margin: 60px auto 0 auto !important;
    }
    #loginPage {
        background-size: 300%;
        background-position: -290px 0%;
    }
    .loginPage {
        width: 80%;
    }
    .cardStructHalf {
        width: 100%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#statusChangeDesc {
    font-weight: bold;
}

.tablePreview {
    width: 100%;
}

#map {
    height: 460px;
}

#vis {
    overflow: hidden;
    position: relative;
}

#status {
    padding: 0 0 20px 20px;
}

#controls {
    padding: 20px;
    background-color: #eee;
    margin: 10px;
    width: 350px;
}

footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font: 13px sans-serif;
}


/*OVER RIDE BOOTSTRAP CSS FOR DATATABLE */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f39c12 !important;
    border-color: #f39c12 !important;
}


/*OVER RIDE BOOTSTRAP CSS FOR DATATABLE */

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 13px !important;
    font-size: 13px !important;
    line-height: inherit;
    font-weight: bold;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
